body{
    font-family:'Arial',sans-serif;
    background-color:#f4f4f9;
    color:#333;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:100vh;
    margin:0;
}
h1{
    font-size:2.5em;
    margin-bottom:20px;
    color:#555;
}
#start-button{
    padding:10px 20px;
    font-size:1em;
    border:none;
    border-radius:5px;
    background-color:#007BFF;
    color:white;
    cursor:pointer;
    transition:background-color 0.3s ;
}
#start-button:hover{
    background-color:#0056b3;
}
#text{
    font-size:1.5em;
    margin-bottom:20px;
    color:#777;
    display:none;
    text-align:center;
}
#typing-area{
    width:80%;
    max-width:600px;
    height:100px;
    padding:15px;
    font-size:1.2em;
    border:2px solid #007bff;
    border-radius:8px;
    outline:none;
    resize:none;
    transition:border-color 0.3s;
}
#typing-area-focus{
    border-color:#0056b3;
}
#result{
    margin-top:20px;
    font-size:1.2em;
    color:#007bff;
}